<!-- nav -->

<nav class="navbar navbar-expand navbar-dark bg-dark" >
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home </a>
      <div *ngIf="currentUser; else loggedOut">
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
      </div>
      <ng-template #loggedOut>
        <a class="nav-item nav-link" routerLink="/login">Login</a>
        <a class="nav-item nav-link" routerLink="/register">Register</a>
      </ng-template>
     
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
            <alert></alert>
            <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>